*{
    margin: 0;
    padding: 0;
    font-size: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #c3c3c3;
    overflow: hidden;
}
.wrapper{
    width: 450px;
    height: 700px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 20px;
    box-sizing: border-box;
}
.wrapper .con{
    position:relative;
    width: 100%;
    height: 100%;
    background-image: url('./img/1.jpg');
    background-size: cover;
}
.wrapper .con .name{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    background-color: #ddd;
    font-size: 20px;
}
.wrapper .con .input-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ddd;

}
.wrapper .con .input-box .inp{
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    text-indent: 15px;
    margin:10px 0 0 15px;
    border-radius: 5px;
    font-size: 14px;
}
.wrapper .con .input-box .btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}
/* 聊天窗口 */
.chat-box{
    width: 100%;
    height: calc(100% - 129px);
    /* border: 1px solid red; */
    position: absolute;
    top: 60px;
    left: 0;
    overflow-y:scroll;
}
.inner{
    width: 90%;
    /* border: 1px solid green; */
    margin: 0 auto;
}
/* 滚动条设置 */
::-webkit-scrollbar{   
    width: 5px;
    height: 20px;
    /* background-color: #fff; */
}
.talk{
    width: 100%;
    /* border: 1px solid yellow; */
    line-height: 40px;
    margin-bottom: 8px;
}
.talk div{
    display: inline-block;
    vertical-align: middle;
}
.talk.my{
    text-align: right;
}
.talk.rabit{
    text-align: left;
}
.talk.my .user{
    float: right;
    background-image: url('./img/2.jpg');
   
  
}

.talk  .user{
    width: 40px;
    height: 40px;
    background-color: blue;
    background-size: cover;
    background-image: url('./img/3.jpg');
      background-position: center;
}
.talk.my .text{
    max-width: 230px;
    background-color: #00FF00;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 15px;
    position: relative;
}
.talk.rabit .text{
    max-width: 230px;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 15px;
    position: relative;
}
.talk .text::before{
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -10px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid #00FF00;
}
.talk.rabit .text::before{
    left: -20px;
     border: 10px solid transparent;
    border-right: 10px solid #fff;
}